// Bootstrap core CSS
link(href='./stylesheets/bootstrap.min.css', rel='stylesheet')
link(href='./vendor/metisMenu/metisMenu.min.css', rel='stylesheet')
link(href='./stylesheets/sb-admin-2.css', rel='stylesheet')
link(href='./vendor/morrisjs/morris.css', rel='stylesheet')
link(href='./vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
